player-connection-mode=Listen
player-connection-guid=236120619
player-connection-debug=0
player-connection-project-name=GAMENET Module 3
player-connection-ip=192.168.100.18
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5f3657ba94354cc2b6d8dc2d508c7f3c
